## ---------- FONT SETUP ---------- #
URxvt.font: 				xft:Sauce\Code\Powerline:regular:pixelsize=18:antialias=true:hinting=true,\
							xft:DejaVu\Sans\Mono:pixelsize=18:antialias=true:hinting=true,\
URxvt.boldFont:            	xft:Sauce\Code\Powerline:regular:pixelsize=18:bold:antialias=true:hinting=true,\
URxvt.italicFont:          	xft:Sauce\Code\Powerline:regular:pixelsize=18:italic:antialias=true:hinting=true,\
URxvt.boldItalicFont:      	xft:Sauce\Code\Powerline:regular:pixelsize=18:bold:italic:antialias=true:hinting=true
URxvt.letterSpace:         -1

## ---------- PADDING IN TERMINAL WINDOW ---------- #
URxvt.internalBorder:      10
URxvt.externalBorder:      10

## removes vertical scroll bar
URxvt.scrollBar:           false

URxvt*fading:              30

## extensions for font resizing and tabs
URxvt.perl-ext-common:     matcher,resize-font,tabbed

## ---------- COLOURS ---------- #
#define base00 #231f20
#define base01 #1c3f95
#define base02 #5a5758
#define base03 #737171
#define base04 #959ca1
#define base05 #d9d8d8
#define base06 #e7e7e8
#define base07 #ffffff
#define base08 #ee2e24
#define base09 #f386a1
#define base0A #ffd204
#define base0B #00853e
#define base0C #85cebc
#define base0D #009ddc
#define base0E #98005d
#define base0F #b06110

## sets cursor colour and background to white
## keeps background black-ish
*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

##
*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

##
*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07
##

## colours beyond 16 need 256 colour capable terminal emulator
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06:

## Base16 London Tube Dark, by Jan T. Sott

## ---------- ROFI CONFIG ---------- #

rofi.color-enabled: true
## State:           'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal: #009ddc, #ffffff, #009ddc, #ffffff, #009ddc
rofi.color-urgent: #231f20, #ee2e24, #231f20, #ee2e24, #231f20
rofi.color-active: #231f20, #009ddc, #231f20, #009ddc, #231f20
rofi.color-window: #009ddc, #ffffff  #009ddc
