## ---------- FONT SETUP ---------- #
URxvt.font: 				xft:Hack-Regular:regular:pixelsize=16:antialias=true:hinting=true,\
                            xft:NotoSans\Regular:pixelsize=16:antialias=true:hinting=true,\
URxvt.boldFont:            	xft:Sauce\Code\Powerline:regular:pixelsize=16:bold:antialias=true:hinting=true,\
URxvt.italicFont:          	xft:Sauce\Code\Powerline:regular:pixelsize=16:italic:antialias=true:hinting=true,\
URxvt.boldItalicFont:      	xft:Sauce\Code\Powerline:regular:pixelsize=16:bold:italic:antialias=true:hinting=true
##URxvt.letterSpace:         -1

## ---------- PADDING IN TERMINAL WINDOW ---------- #
URxvt.internalBorder:      5
URxvt.externalBorder:      5

## removes vertical scroll bar
URxvt.scrollBar:           false

## enables cursor blinking
URxvt.cursorBlink: 1

## trying to fix glyph support
URxvt.letterSpace: true

##URxvt*fading:              30

## extensions for font resizing and tabs
URxvt.perl-ext-common:     matcher,resize-font,tabbed

## cursor size
Xcursor.size: 32

## ---------- COLOURS ---------- #
#define base00 #2B303B
#define base01 #BF616A
#define base02 #A3BE8C
#define base03 #EBCB8B
#define base04 #8FA1B3
#define base05 #B48EAD
#define base06 #96B5B4
#define base07 #C0C5CE
#define base08 #65737E
#define base09 #BF616A
#define base0A #A3BE8C
#define base0B #EBCB8B
#define base0C #8FA1B3
#define base0D #B48EAD
#define base0E #96B5B4
#define base0F #EFF1F5

*.foreground:   base07
*.background:   base00
*.cursorColor:  base07

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! ! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
## ---------- ROFI CONFIG ---------- #

rofi.color-enabled: true
## State:           'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal: #2C3E50, #ffffff, #34495E, #ffffff, #2C3E50
rofi.color-urgent: #231f20, #ee2e24, #231f20, #ee2e24, #231f20
rofi.color-active: #f5f5f5, #BDC3C7, #231f20, #009ddc, #231f20
rofi.color-window: #2C3E50, #ffffff  #f5f5f5
